body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4091EC;
    min-height: 100vh;
}

h1 {
    color: #FAFAFA;
    font-family: 'Courier New';
    font-size: 3.5vw;
}

.square {
    
    background-color: #fafafa;
    border-radius: 10px;
    margin: 1% 10%;
    width: 36vw;
    height: 46vh;
    max-width: 400px;
    max-height: 450px;
}

.inputGrade{
    margin: 5%;
}

input {
    width: 50%;
}

input:focus{
    outline: none;
}

.print {
    box-shadow: 1px 1px 5px #c1c1c1;
    border-radius: 5px;
    margin: 5%;
    width: 88%;
    height: 60%;
    overflow: scroll;
    padding: 1%;
}

.output {
    margin: 5%;
}

.btnMedia {
    margin-bottom: 5%;
}